<form action="https://formspree.io/xnqgnlbn" method="POST">
    <div class="form-group">
      <label for="inputName">Name</label>
      <input type="text" class="form-control" id="inputName" aria-describedby="Name" placeholder="" name="name"><small id="emailHelp" class="form-text text-muted">Your name, your pronouns, how you prefer to be addressed.</small>
    </div>
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="" name="_replyto">
      <small id="emailHelp" class="form-text text-muted">I'll keep it between us.</small>
    </div>
    <button type="submit" class="btn btn-custom">Submit</button>
  </form>
  

 